* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

html, body {
  height: 100%;
}

body {
  background-color: #cccccc;
}

section.container {
  width: 100%;
  height: 100%;
}

.tabsIconsContainer {
  max-width: 100%;
  margin-left: 15px;
  margin-right: 15px;
}
.tabsIconsContainer .navIcons {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.tabsIconsContainer .navIcons__link {
  margin: 5px;
  flex-basis: 50%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 1rem;
}
.tabsIconsContainer .navIcons__link:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.tabsIconsContainer .navIcons__link input[type=radio] {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.tabsIconsContainer .navIcons__link input[type=radio]:checked + i, .tabsIconsContainer .navIcons__link input[type=radio]:checked + i p {
  color: white;
}
.tabsIconsContainer .navIcons__link input[type=radio]:checked + i {
  background-color: #f3a683;
  border-radius: 1rem;
}
.tabsIconsContainer .navIcons__link i {
  padding: 10px;
  flex: 1;
  color: black;
  text-align: center;
  font-size: 3rem;
  transition: border-radius 0.3s, background-color 0.5s, color 0.3s;
}
.tabsIconsContainer .navIcons__link i p {
  margin-top: 5px;
  color: black;
  font-size: 1.5rem;
  transition: color 0.3s;
}
.tabsIconsContainer .tabsList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.tabsIconsContainer .tabsList li {
  padding: 10px;
  margin-bottom: 10px;
  min-width: 100%;
  background-color: #f3a683;
  border: solid #f3a683;
  border-radius: 10px;
}

/* ##### MEDIA QUERIES ##### */
/* Tablets (sm) */
@media screen and (min-width: 768px) {
  .tabsIconsContainer .navIcons__link {
    flex-basis: 33%;
  }
}
/* Laptops (md) */
@media screen and (min-width: 992px) {
  .tabsIconsContainer .navIcons__link {
    flex: 1;
  }
}
/* Desktops (lg) */
