* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

header {
  padding: 1rem;
}

section {
  flex: 1;
}

footer {
  padding: 1rem;
  text-align: center;
}

.tabsIconsContainer {
  max-width: 900px;
}
.tabsIconsContainer .navIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.tabsIconsContainer .navIcons__link {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tabsIconsContainer .navIcons__link input[type=radio] {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.tabsIconsContainer .navIcons__link input[type=radio] + i {
  padding: 10px;
  flex: 1;
  text-align: center;
  font-size: 3rem;
}
.tabsIconsContainer .navIcons__link input[type=radio] + i p {
  margin-top: 5px;
  font-size: 1.5rem;
}
.tabsIconsContainer .navIcons__link input[type=radio]:checked + * {
  background-color: #f3a683;
  transition: background-color 500ms ease;
}
.tabsIconsContainer .tabsList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.tabsIconsContainer .tabsList li {
  padding: 10px;
  min-width: 100%;
  background-color: #f3a683;
}

/* ##### MEDIA QUERIES ##### */
/* Tablets (sm) */
/* Laptops (md) */
/* Desktops (lg) */
